<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>
</head>
<body>
<div class="layout">
    <form action="/board/writedo" method="post">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input id="exampleFormControlInput1" name="title"  type="text"><br>
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label><br>
        <textarea id="exampleFormControlTextarea1" name="content"></textarea>
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>